<div class="p-3">
	<!-- <button *ngIf="response" (click)="setFalse()" class="btn btn-link">
		{{message}}
	</button> -->
	<app-message [responseUpdate]="response"></app-message>
	<br>
	<div class="container p-5">
		<h3 *ngIf="responseEdit">Update:</h3>
		<div *ngIf="responseEdit" class="jumbotron">
			<form (ngSubmit)="onSubmit(selform); selform.reset()" #selform="ngForm">
				<div class="form-group">
					<label>Username</label>
					<input type="text" [(ngModel)]="modelService.selectedInsert.username" name="username" id="username" class="form-control" required>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" [(ngModel)]="modelService.selectedInsert.password" name="password" id="password" class="form-control" required>
				</div>
				<div class="pt-2">
					<button type="submit" class="btn" [disabled]="!selform.form.valid">Submit</button>
					<button type="reset" class="btn ml-3">Reset</button>
					<button class="btn ml-3" (click)="responseEdit = false">Close</button>
				</div>
			</form>
		</div>

		<br>
		<h3>Details:</h3><br>
		<div class="jumbotron">
			<table class="table table-hover table-bordered">
				<tr>
					<th>ID</th>
					<th>Username</th>
					<th>Password</th>
					<th></th>
					<th></th>
				</tr>
				<tr *ngFor="let i of model">
					<td>{{i.id}}</td>
					<td>{{i.username}}</td>
					<td>{{i.password}}</td>
					<td><button class="btn btn-sm btn-link" (click)="onEdit(i)">Edit</button></td>
					<td><button class="btn btn-sm btn-link" (click)="onDelete(i)">Delete</button></td>					
				</tr>
			</table>
		</div>		
	</div>	
</div>